<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel de Controle</title>
    <link rel="stylesheet" href="style.css">
</head>
<body class="dashboard-body">
    <header class="dashboard-header">
        <div class="header-container">
            <h1 class="header-title">Painel de Controle</h1>
        </div>
    </header>
    <content>
        <div class="main-container">
            <div class="grid-container" id="pc-containers"></div>
        </div>
    </content>
    <script src="script.js"></script>
</body>
</html>
