<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel de Controle</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body class="dashboard-body">
    <content>
        <div class="main-container">
            <div class="new-switch-container">
                <form class="new-switch-form" action="http://127.0.0.1:5000/api/dashboard" method="post">
                    <p>Selecione uma sala para abrir seu dashboard</p>
                    <select id="classroom_id" name="classroom_id" class="new-classroom-input" required>
                        <option value="" disabled selected>Sala de aula</option>
                    </select>
                    <button type="submit" class="new-switch-button">Selecionar</button>
                </form>
            </div>
            <div class="grid-container" id="pc-containers"></div>
        </div>
    </content>
    <script>
        async function getClassrooms() {
            const url = "http://127.0.0.1:5000/api/classroom";
            try {
                const response = await fetch(url);
                if (!response.ok) {
                    throw new Error(`Response status: ${response.status}`);
                }

                const json = await response.json();
                return json;
            } catch (error) {
                console.error(error.message);
                return [];
            }
        }

        async function populateSelect() {
            const classrooms = await getClassrooms();
            const selectElement = document.getElementById('classroom_id');

            classrooms.forEach(classroom => {
                const option = document.createElement('option');
                option.value = classroom.id;
                option.text = classroom.name;
                selectElement.appendChild(option);
            });
        }

        document.addEventListener("DOMContentLoaded", populateSelect);

        function createPCContainer(pc) {
            const container = document.createElement('div');
            container.className = 'pc-container';

            const statusDiv = document.createElement('div');
            statusDiv.className = 'dashboard-status';

            const idP = document.createElement('p');
            idP.textContent = `Porta ${pc.number}`;

            const typeP = document.createElement('p');
            typeP.textContent = `Tipo ${pc.type_description}`;

            const openStatusP = document.createElement('p');
            let status;
            if (pc.open_status == 1) {
                status = "Aberta";
            } else if (pc.open_status == 2) {
                status = "Fechada";
            }
            openStatusP.textContent = `Status: ${status}`;

            const occupiedStatusP = document.createElement('p');
            if (pc.occupied_status == 1) {
                status = "Em uso";
            } else if (pc.occupied_status == 2) {
                status = "Livre";
            }
            occupiedStatusP.textContent = `${status}`;

            statusDiv.appendChild(idP);
            statusDiv.appendChild(typeP);
            statusDiv.appendChild(openStatusP);
            statusDiv.appendChild(occupiedStatusP);

            const buttonContainer = document.createElement('div');
            buttonContainer.className = 'pc-btn-container';

            let button1Text, button2Text;
            if (pc.open_status == 1) {
                button1Text = "Agendar bloqueio";
                button2Text = "Bloquear";
            } else if (pc.open_status == 2) {
                button1Text = "Agendar desbloqueio";
                button2Text = "Desbloquear";
            }
            
            const button1 = document.createElement('button');
            button1.className = 'pc-button';
            button1.textContent = button1Text;
            if (pc.type_id !== 1) {
                button1.disabled = true;
                button1.style.pointerEvents = "none";
            }

            const button2 = document.createElement('button');
            button2.className = 'pc-button';
            button2.textContent = button2Text;
            if (pc.type_id !== 1) {
                button2.disabled = true;
                button2.style.pointerEvents = "none";
            }

            async function button2Function() {
                const url = "http://127.0.0.1:5000/api/port-status";

                const portId = pc.id;
                let newStatus;
                if (pc.open_status == 1) {
                    newStatus = 2;
                } else if (pc.open_status == 2) {
                    newStatus = 1;
                }

                const data = {
                    port_id: portId,
                    status_code: newStatus
                };

                try {
                    const response = await fetch(url, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(data)
                    });

                    if (!response.ok) {
                        throw new Error(`Response status: ${response.status}`);
                    }

                    // Update the pc object
                    pc.open_status = newStatus;

                    // Update the DOM elements
                    openStatusP.textContent = `Status: ${newStatus == 1 ? "Aberta" : "Fechada"}`;
                    occupiedStatusP.textContent = `${pc.occupied_status == 1 ? "Em uso" : "Livre"}`;
                    
                    // Update button texts
                    button1.textContent = newStatus == 1 ? "Agendar bloqueio" : "Agendar desbloqueio";
                    button2.textContent = newStatus == 1 ? "Bloquear" : "Desbloquear";
                    
                } catch (error) {
                    console.error(error.message);
                }
            }

            button2.onclick = button2Function;
            buttonContainer.appendChild(button1);
            buttonContainer.appendChild(button2);

            container.appendChild(statusDiv);
            container.appendChild(buttonContainer);

            return container;
        }


        function addPCContainersToDocument(pcs, containerElement) {
            pcs.forEach(pc => {
                const pcContainer = createPCContainer(pc);
                containerElement.appendChild(pcContainer);
            });
        }

        document.addEventListener("DOMContentLoaded", function() {
            const switchForm = document.querySelector(".new-switch-form");

            switchForm.addEventListener("submit", function(event) {
                event.preventDefault();
                const formData = new FormData(switchForm);
                fetch(switchForm.action, {
                    method: "POST",
                    body: formData,
                })
                .then(response => {
                    if (response.status === 200) {
                        return response.json();
                    } else {
                        alert("Erro ao selecionar sala");
                    }
                })
                .then(ports => {
                    if (ports) {
                        const containerElement = document.getElementById('pc-containers');
                        containerElement.innerHTML = '';
                        addPCContainersToDocument(ports, containerElement);
                    }
                })
                .catch(error => console.error("Erro:", error));
            });
        });
    </script>
</body>
</html>
