<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel de Controle</title>
    <link rel="stylesheet" href="style.css">
</head>
<body class="dashboard-body">
    <header class="dashboard-header">
        <div class="header-container">
            <h1 class="header-title">Painel de Controle</h1>
        </div>
    </header>
    <content>
        <div class="main-container">
            <div class="pc-container">
                <div class="icon">
                    <img src="pc-icon.png" alt="PC Icon" class="pc-icon">
                </div>
                <div class="dashboard-status">
                    <p>Id: </p>
                    <p>Status: </p>
                </div>
                <div class="pc-btn-container">
                    <button class="pc-button">Agendar bloqueio</button>
                    <button class="pc-button">Desbloquear</button>
                </div>
            </div>
        </div>
        <div class="block-btn-container">
            <button class="block-button">Bloquear todos</button>
        </div>
    </content>
</body>
</html>
