<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styleNewClassroom.css')}}">
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const classroomForm = document.querySelector(".new-classroom-form");

            let classroomRegistered = false;

            function checkRedirect() {
                if (classroomRegistered) {
                    window.location.href = "http://127.0.0.1:5000/switch";
                }
            }

            classroomForm.addEventListener("submit", function(event) {
                event.preventDefault();
                const formData = new FormData(classroomForm);
                fetch(classroomForm.action, {
                    method: "POST",
                    body: formData
                })
                .then(response => {
                    if (response.status === 201) {
                        classroomRegistered = true;
                        classroomForm.querySelector(".new-classroom-button").disabled = true;
                        classroomForm.querySelector(".new-classroom-button").style.pointerEvents = "none";
                        classroomForm.querySelector(".new-classroom-button").textContent = "Cadastrado";
                        checkRedirect();
                    } else {
                        alert("Erro ao cadastrar sala");
                    }
                })
                .catch(error => console.error("Erro:", error));
            });
        });
    </script>
</head>
<body>
    <div class="new-classroom-container">
        <p>Cadastro de Sala</p>
        <form class="new-classroom-form" action="http://127.0.0.1:5000/api/classroom" method="post">
            <input type="text" id="classroom-name" name="classroom-name" placeholder="Nome da sala" class="new-classroom-input" required>
            <button type="submit" class="new-classroom-button">Cadastrar</button>
        </form>
    </div>
</body>
</html>
