.login-body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}
.login-container h1 {
    text-align: center;
    margin-bottom: 20px;
}
.login-container label {
    display: block;
    margin-bottom: 5px;
}
.login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
.login-container button:hover {
    background-color: #0056b3;
}

.dashboard-body{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.pc-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
.dashboard-header{
    background-color: #007BFF;
    color: white;
    padding: 5px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    position: relative;
}
.header-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.header-title{
    margin: 0;
    font-size: 30px;
}
.block-btn-container {
    position: absolute;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    white-space: nowrap;
}
.block-btn-container:nth-child(1) {
    top: 40px;
    right: 40px;
}
.block-btn-container:nth-child(2) {
    top: 100px;
    right: 40px;
}
.block-button {
    width: 100%;
    padding: 14px;
    background-color: #007BFF;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
.pc-icon{
    width: 70px;
    height: 70px;
}
.pc-btn-container{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.pc-button {
    width: 47%;
    padding: 7px;
    margin-right: 7px; 
    background-color: #007BFF;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
.pc-button:disabled {
    width: 47%;
    padding: 7px;
    margin-right: 7px; 
    background-color: #505050;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
.pc-button:hover {
    background-color: #0056b3;
}
.pc-button:last-child {
    margin-right: 0;
}
.dashboard-status{
    padding-top: 7px;
    padding-bottom: 7px;
}
.dashboard-status p{
    margin: 2px;
}
.pc-container {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    background-color: #f9f9f9;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 20px;
    margin-top: 550px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.new-classroom-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.new-classroom-form {
    display: flex;
    flex-direction: column;
}

.new-classroom-input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

.new-classroom-button {
    background-color: #1877f2;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
}

.new-classroom-button:hover {
    background-color: #165fc1;
}

.new-classroom-button:disabled {
    background-color: #3f8bee;
}

.new-switch-button:disabled {
    background-color: #3f8bee;
}

.forgot-password {
    color: #1877f2;
    text-align: center;
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 10px 0;
}

.create-account-button {
    background-color: #42b72a;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

.create-account-button:hover {
    background-color: #36a420;
}

.new-switch-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.new-switch-form {
    display: flex;
    flex-direction: column;
}

.new-switch-input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

.new-switch-button {
    background-color: #1877f2;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
}

.new-switch-button:hover {
    background-color: #165fc1;
}

.forgot-password {
    color: #1877f2;
    text-align: center;
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 10px 0;
}

.create-account-button {
    background-color: #42b72a;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

.create-account-button:hover {
    background-color: #36a420;
}
